In [1]:
# import libraries

import pandas as pd

In [2]:
# read in file and create dataframe
df = pd.read_csv('Assignment Log.csv')

### Part 1: Analysis 
#### Analyze and extract any interesting insights you can derive from the data set attached (each row represents the assignment of a job in our research queue, including some data about the analyst who received the assignment and the current state of the research queue). What can you infer? What do you think this means for us from a business perspective? 

### Part 2: Data modeling 
#### Assuming we are starting with the data set from Part 1 as our raw data table, how would you model this data in a data warehouse for analytical purposes? What tables would you create? What kinds of questions do you imagine business users would want to ask of this data, and how would they express them in your data model? Please use whatever tools you are comfortable with to answer this question and whatever flavor of SQL you are most familiar with. A github repo or gist is preferred.

### Exploratory Data Analysis

In [3]:
df.head(10)

,Event occurred at,Analyst,Quality score (sourcing),Quality score (writing),Action,Request,Request created at,Job,Wait time (min),Waiting for,Analysts available,Analysts occupied,Total jobs available,Review jobs available,Vetting jobs available,Planning jobs available,Editing jobs available,Sourcing jobs available,Writing jobs available
0,06/22/2017 19:59:06,9fcbc63ff4c8bea5cea4efad782c87cf,5.00,5.00,Accepted Job,594bec5c95e2ce005840c23a,06/22/2017 12:12:12,review,1,review,0,13,14,4,6,2,0,1,1
1,06/22/2017 19:59:02,9fcbc63ff4c8bea5cea4efad782c87cf,5.00,5.00,Assigned Job,594bec5c95e2ce005840c23a,06/22/2017 12:12:12,review,1,review,1,13,15,5,6,2,0,1,1
2,06/22/2017 19:51:30,85c7b78e76b5232cd38014ea4cdc8f56,4.35,4.35,Declined Job,594bec83fd2cf400280aa965,06/22/2017 12:12:51,writing,9,"sourcing, writing",1,12,12,5,5,1,0,0,1
3,06/22/2017 19:51:01,0e9802516f8a79dd0d45211dd4ee74af,4.50,4.50,Accepted Job,594c1f5cd7e68f0028c9062c,06/22/2017 15:49:48,sourcing,1,"sourcing, writing",1,11,12,5,5,1,0,0,1
4,06/22/2017 19:50:58,85c7b78e76b5232cd38014ea4cdc8f56,4.35,4.35,Assigned Job,594bec83fd2cf400280aa965,06/22/2017 12:12:51,writing,8,"sourcing, writing",2,11,14,5,5,2,0,1,1
5,06/22/2017 19:50:58,0e9802516f8a79dd0d45211dd4ee74af,4.50,4.50,Assigned Job,594c1f5cd7e68f0028c9062c,06/22/2017 15:49:48,sourcing,1,"sourcing, writing",2,11,14,5,5,2,0,1,1
6,06/22/2017 19:50:58,85c7b78e76b5232cd38014ea4cdc8f56,4.35,4.35,Declined Job,594bec83fd2cf400280aa965,06/22/2017 12:12:51,writing,8,"sourcing, writing",2,11,14,5,5,2,0,1,1
7,06/22/2017 19:50:23,85c7b78e76b5232cd38014ea4cdc8f56,4.35,4.35,Assigned Job,594bec83fd2cf400280aa965,06/22/2017 12:12:51,writing,8,"sourcing, writing",1,11,14,5,5,2,0,1,1
8,06/22/2017 19:47:03,85c7b78e76b5232cd38014ea4cdc8f56,4.35,4.35,Accepted Job,594c1e983b593b00281250ba,06/22/2017 15:46:32,sourcing,4,"sourcing, writing",1,11,11,5,5,1,0,0,0
9,06/22/2017 19:47:03,85c7b78e76b5232cd38014ea4cdc8f56,4.35,4.35,Accepted Job,594c1e983b593b00281250ba,06/22/2017 15:46:32,sourcing,4,"sourcing, writing",1,11,11,5,5,1,0,0,0

In [4]:
df.shape

(791, 19)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 791 entries, 0 to 790
Data columns (total 19 columns):
Event occurred at           791 non-null object
Analyst                     791 non-null object
Quality score (sourcing)    791 non-null float64
Quality score (writing)     791 non-null float64
Action                      791 non-null object
Request                     791 non-null object
Request created at          791 non-null object
Job                         791 non-null object
Wait time (min)             791 non-null int64
Waiting for                 785 non-null object
Analysts available          791 non-null int64
Analysts occupied           791 non-null int64
Total jobs available        791 non-null int64
Review jobs available       791 non-null int64
Vetting jobs available      791 non-null int64
Planning jobs available     791 non-null int64
Editing jobs available      791 non-null int64
Sourcing jobs available     791 non-null int64
Writing jobs available      791 non-null int64
dtypes: float64(2), int64(10), object(7)
memory usage: 117.5+ KB

In [6]:
# check for any null values
df.isnull().sum()

Event occurred at           0
Analyst                     0
Quality score (sourcing)    0
Quality score (writing)     0
Action                      0
Request                     0
Request created at          0
Job                         0
Wait time (min)             0
Waiting for                 6
Analysts available          0
Analysts occupied           0
Total jobs available        0
Review jobs available       0
Vetting jobs available      0
Planning jobs available     0
Editing jobs available      0
Sourcing jobs available     0
Writing jobs available      0
dtype: int64

In [32]:
# find nulls
def find_nulls(df):
    null_columns=df.columns[df.isnull().any()]
    return df[df['Waiting for'].isnull()][null_columns]

In [33]:
find_nulls(df)

    Waiting for
195         NaN
340         NaN
392         NaN
454         NaN
595         NaN
723         NaN

In [25]:
df.loc[194:196]

,Event occurred at,Analyst,Quality score (sourcing),Quality score (writing),Action,Request,Request created at,Job,Wait time (min),Waiting for,Analysts available,Analysts occupied,Total jobs available,Review jobs available,Vetting jobs available,Planning jobs available,Editing jobs available,Sourcing jobs available,Writing jobs available
194,06/22/2017 14:31:08,94959cf2d0b592d0fa1e5e9cf760a1c7,5.00,5.00,Assigned Job,594bec81fd2cf400280aa95c,06/22/2017 12:12:49,planning,1,planning,5,16,8,0,3,5,0,0,0
195,06/22/2017 14:30:59,9fa24ddce8fd9d1526d9d7451304fc74,4.89,4.89,Accepted Job,594bec7ffd2cf400280aa953,06/22/2017 12:12:47,sourcing,26,NaN,5,15,8,0,3,5,0,0,0
196,06/22/2017 14:30:54,9fa24ddce8fd9d1526d9d7451304fc74,4.89,4.89,Accepted Job,594bec7ffd2cf400280aa953,06/22/2017 12:12:47,sourcing,26,sourcing,5,15,8,0,3,5,0,0,0

In [38]:
df.loc[[195], 'Waiting for'] = 'sourcing'

In [26]:
df.loc[339:341]

,Event occurred at,Analyst,Quality score (sourcing),Quality score (writing),Action,Request,Request created at,Job,Wait time (min),Waiting for,Analysts available,Analysts occupied,Total jobs available,Review jobs available,Vetting jobs available,Planning jobs available,Editing jobs available,Sourcing jobs available,Writing jobs available
339,06/22/2017 8:03:23,98de7e62209a07eee6ec8dc984911042,0.0,0.0,Assigned Job,594a9ce6c864e200288e766b,06/21/2017 12:20:54,sourcing,1,sourcing,4,10,4,0,0,1,0,1,2
340,06/22/2017 8:01:25,a29fe6d26c1a49ff4a3c876eaee0a1af,0.0,0.0,Accepted Job,594a9ce6c864e200288e766b,06/21/2017 12:20:54,sourcing,1,NaN,3,10,3,0,0,1,0,0,2
341,06/22/2017 8:01:22,a29fe6d26c1a49ff4a3c876eaee0a1af,0.0,0.0,Accepted Job,594a9ce6c864e200288e766b,06/21/2017 12:20:54,sourcing,1,sourcing,3,10,3,0,0,1,0,0,2

In [40]:
df.loc[[340], 'Waiting for'] = 'sourcing'

In [44]:
df.loc[391:393]

,Event occurred at,Analyst,Quality score (sourcing),Quality score (writing),Action,Request,Request created at,Job,Wait time (min),Waiting for,Analysts available,Analysts occupied,Total jobs available,Review jobs available,Vetting jobs available,Planning jobs available,Editing jobs available,Sourcing jobs available,Writing jobs available,9
391,06/22/2017 6:17:54,7e22ad15724c44543d1d4bcafd10c812,5.0,5.0,Assigned Job,594ae6fb4f06e20035d92345,06/21/2017 17:36:59,review,1,review,1,10,6,3,1,0,0,0,2,NaN
392,06/22/2017 6:13:40,766d3435eda76c4de9f034b8f97a0602,3.5,3.5,Accepted Job,594a8fd422b3c50028e71976,06/21/2017 11:25:08,writing,1,NaN,0,9,6,3,1,0,0,0,2,NaN
393,06/22/2017 6:13:34,766d3435eda76c4de9f034b8f97a0602,3.5,3.5,Assigned Job,594a8fd422b3c50028e71976,06/21/2017 11:25:08,writing,1,"sourcing, writing",1,9,7,3,1,0,0,0,3,NaN

In [45]:
df.loc[[392], 'Waiting for'] = 'sourcing, writing'

In [28]:
df.loc[453:455]

,Event occurred at,Analyst,Quality score (sourcing),Quality score (writing),Action,Request,Request created at,Job,Wait time (min),Waiting for,Analysts available,Analysts occupied,Total jobs available,Review jobs available,Vetting jobs available,Planning jobs available,Editing jobs available,Sourcing jobs available,Writing jobs available
453,06/22/2017 4:45:27,7e22ad15724c44543d1d4bcafd10c812,5.0,5.0,Assigned Job,594b00e23f82d10028f03be2,06/21/2017 19:27:30,review,1,review,1,14,7,3,1,0,0,0,3
454,06/22/2017 4:40:07,7e22ad15724c44543d1d4bcafd10c812,5.0,5.0,Accepted Job,594af3c6f3b9f600287eabe0,06/21/2017 18:31:34,review,1,NaN,0,15,7,3,1,0,0,0,3
455,06/22/2017 4:40:03,7e22ad15724c44543d1d4bcafd10c812,5.0,5.0,Assigned Job,594af3c6f3b9f600287eabe0,06/21/2017 18:31:34,review,1,review,1,15,8,4,1,0,0,0,3

In [41]:
df.loc[[454], 'Waiting for'] = 'review'

In [29]:
df.loc[594:596]

,Event occurred at,Analyst,Quality score (sourcing),Quality score (writing),Action,Request,Request created at,Job,Wait time (min),Waiting for,Analysts available,Analysts occupied,Total jobs available,Review jobs available,Vetting jobs available,Planning jobs available,Editing jobs available,Sourcing jobs available,Writing jobs available
594,06/21/2017 23:26:17,9fcbc63ff4c8bea5cea4efad782c87cf,5.0,5.0,Assigned Job,594b20ed3f82d10028f03c6c,06/21/2017 21:44:13,sourcing,1,sourcing,1,24,7,1,3,1,0,1,1
595,06/21/2017 23:23:02,f7f7591403c6c431053920223069550a,5.0,5.0,Accepted Job,594b20ee3f82d10028f03c74,06/21/2017 21:44:14,planning,1,NaN,0,23,7,1,3,1,0,1,1
596,06/21/2017 23:22:37,36ee9fc3bade4a4f71c2a6e5c2bd8862,0.0,0.0,Accepted Job,594b20eb3f82d10028f03c5c,06/21/2017 21:44:11,sourcing,1,sourcing,1,22,8,1,3,2,0,1,1

In [42]:
df.loc[[595], 'Waiting for'] = 'planning'

In [31]:
df.loc[722:724]

,Event occurred at,Analyst,Quality score (sourcing),Quality score (writing),Action,Request,Request created at,Job,Wait time (min),Waiting for,Analysts available,Analysts occupied,Total jobs available,Review jobs available,Vetting jobs available,Planning jobs available,Editing jobs available,Sourcing jobs available,Writing jobs available
722,06/21/2017 21:25:06,9fcbc63ff4c8bea5cea4efad782c87cf,5.00,5.00,Assigned Job,5949462dd9ae5200633f9640,06/20/2017 11:58:37,review,1,review,2,21,8,6,1,0,0,0,1
723,06/21/2017 21:24:44,206de922289a1f9f5ee250fc71308628,3.17,3.17,Accepted Job,594ae6fb4f06e20035d92345,06/21/2017 17:36:59,writing,1,NaN,1,20,8,6,1,0,0,0,1
724,06/21/2017 21:24:38,206de922289a1f9f5ee250fc71308628,3.17,3.17,Accepted Job,594ae6fb4f06e20035d92345,06/21/2017 17:36:59,writing,1,writing,1,20,8,6,1,0,0,0,1

In [43]:
df.loc[[723], 'Waiting for'] = 'writing'

In [47]:
# check for any null values
df.isnull().sum()

Event occurred at             0
Analyst                       0
Quality score (sourcing)      0
Quality score (writing)       0
Action                        0
Request                       0
Request created at            0
Job                           0
Wait time (min)               0
Waiting for                   0
Analysts available            0
Analysts occupied             0
Total jobs available          0
Review jobs available         0
Vetting jobs available        0
Planning jobs available       0
Editing jobs available        0
Sourcing jobs available       0
Writing jobs available        0
9                           788
dtype: int64

In [24]:
df[df['Request'] == '594bec7ffd2cf400280aa953']

,Event occurred at,Analyst,Quality score (sourcing),Quality score (writing),Action,Request,Request created at,Job,Wait time (min),Waiting for,Analysts available,Analysts occupied,Total jobs available,Review jobs available,Vetting jobs available,Planning jobs available,Editing jobs available,Sourcing jobs available,Writing jobs available
188,06/22/2017 14:33:36,d5aa695af013ee5baaeeccfb7ca50c80,4.70,4.70,Accepted Job,594bec7ffd2cf400280aa953,06/22/2017 12:12:47,sourcing,1,"editing, sourcing, writing",5,14,7,0,3,4,0,0,0
189,06/22/2017 14:33:35,d5aa695af013ee5baaeeccfb7ca50c80,4.70,4.70,Accepted Job,594bec7ffd2cf400280aa953,06/22/2017 12:12:47,sourcing,1,"editing, sourcing, writing",5,14,7,0,3,4,0,0,0
190,06/22/2017 14:33:29,d5aa695af013ee5baaeeccfb7ca50c80,4.70,4.70,Assigned Job,594bec7ffd2cf400280aa953,06/22/2017 12:12:47,sourcing,1,"editing, sourcing, writing",6,14,8,0,3,4,0,1,0
195,06/22/2017 14:30:59,9fa24ddce8fd9d1526d9d7451304fc74,4.89,4.89,Accepted Job,594bec7ffd2cf400280aa953,06/22/2017 12:12:47,sourcing,26,NaN,5,15,8,0,3,5,0,0,0
196,06/22/2017 14:30:54,9fa24ddce8fd9d1526d9d7451304fc74,4.89,4.89,Accepted Job,594bec7ffd2cf400280aa953,06/22/2017 12:12:47,sourcing,26,sourcing,5,15,8,0,3,5,0,0,0
197,06/22/2017 14:30:33,9fa24ddce8fd9d1526d9d7451304fc74,4.89,4.89,Assigned Job,594bec7ffd2cf400280aa953,06/22/2017 12:12:47,sourcing,26,sourcing,5,15,9,0,3,5,0,1,0
214,06/22/2017 13:32:46,94959cf2d0b592d0fa1e5e9cf760a1c7,5.00,5.00,Accepted Job,594bec7ffd2cf400280aa953,06/22/2017 12:12:47,planning,1,planning,4,12,9,0,1,8,0,0,0
215,06/22/2017 13:32:40,94959cf2d0b592d0fa1e5e9cf760a1c7,5.00,5.00,Assigned Job,594bec7ffd2cf400280aa953,06/22/2017 12:12:47,planning,1,planning,5,12,10,0,1,9,0,0,0

In [7]:
# Inspecting the unique values found in columns
df.nunique()

Event occurred at           669
Analyst                      71
Quality score (sourcing)     37
Quality score (writing)      37
Action                        3
Request                      74
Request created at           72
Job                           7
Wait time (min)              39
Waiting for                  27
Analysts available            9
Analysts occupied            19
Total jobs available         17
Review jobs available        12
Vetting jobs available        8
Planning jobs available      13
Editing jobs available        3
Sourcing jobs available       5
Writing jobs available        7
dtype: int64

In [8]:
# find duplicates
# select duplicate rows except first occurrence based on all columns
def duplicates(df):
    duplicate_rows_df = df[df.duplicated()]
    return duplicate_rows_df

In [9]:
duplicates(df)

,Event occurred at,Analyst,Quality score (sourcing),Quality score (writing),Action,Request,Request created at,Job,Wait time (min),Waiting for,Analysts available,Analysts occupied,Total jobs available,Review jobs available,Vetting jobs available,Planning jobs available,Editing jobs available,Sourcing jobs available,Writing jobs available
9,06/22/2017 19:47:03,85c7b78e76b5232cd38014ea4cdc8f56,4.35,4.35,Accepted Job,594c1e983b593b00281250ba,06/22/2017 15:46:32,sourcing,4,"sourcing, writing",1,11,11,5,5,1,0,0,0
55,06/22/2017 18:26:42,e2333b2dc03032f12c8526e45243f0c1,0.00,0.00,Accepted Job,594c0b883b593b002812506e,06/22/2017 14:25:12,sourcing,22,sourcing,2,14,9,2,7,0,0,0,0

In [10]:
df.drop_duplicates(inplace = True)

In [11]:
# confirm duplicates removed
duplicates(df)

Empty DataFrame
Columns: [Event occurred at, Analyst, Quality score (sourcing), Quality score (writing), Action, Request, Request created at, Job, Wait time (min), Waiting for, Analysts available, Analysts occupied, Total jobs available, Review jobs available, Vetting jobs available, Planning jobs available, Editing jobs available, Sourcing jobs available, Writing jobs available]
Index: []

In [12]:
def values(column):
    print(df[column].value_counts())

In [13]:
values('Action')

Assigned Job    393
Accepted Job    301
Declined Job     95
Name: Action, dtype: int64

In [14]:
df[df['Request'] == '594c1e983b593b00281250ba']

,Event occurred at,Analyst,Quality score (sourcing),Quality score (writing),Action,Request,Request created at,Job,Wait time (min),Waiting for,Analysts available,Analysts occupied,Total jobs available,Review jobs available,Vetting jobs available,Planning jobs available,Editing jobs available,Sourcing jobs available,Writing jobs available
8,06/22/2017 19:47:03,85c7b78e76b5232cd38014ea4cdc8f56,4.35,4.35,Accepted Job,594c1e983b593b00281250ba,06/22/2017 15:46:32,sourcing,4,"sourcing, writing",1,11,11,5,5,1,0,0,0
10,06/22/2017 19:46:56,85c7b78e76b5232cd38014ea4cdc8f56,4.35,4.35,Assigned Job,594c1e983b593b00281250ba,06/22/2017 15:46:32,sourcing,4,"sourcing, writing",2,12,13,5,5,2,0,1,0
104,06/22/2017 16:02:15,62060850630c7afe54fd59151413d237,4.82,4.82,Accepted Job,594c1e983b593b00281250ba,06/22/2017 15:46:32,vetting,1,"vetting, planning, editing, sourcing, writing",0,19,3,2,1,0,0,0,0
105,06/22/2017 16:02:11,62060850630c7afe54fd59151413d237,4.82,4.82,Assigned Job,594c1e983b593b00281250ba,06/22/2017 15:46:32,vetting,1,"vetting, planning, editing, sourcing, writing",1,19,4,2,2,0,0,0,0

In [ ]:
df['Action'].value_counts()

In [ ]:
# convert Event occurred at and Request created at to datetime
df['Event occurred at'] = pd.to_datetime(df['Event occurred at'])
df['Request created at'] = pd.to_datetime(df['Request created at'])

In [ ]:
df.info()

In [ ]:
# Min and Max times for creating requests

print('Min Date: ' + str(min(df['Request created at'])))
print('Max Date: ' + str(max(df['Request created at'])))

In [ ]:
# Min and Max times for events

print('Min Date: ' + str(min(df['Event occurred at'])))
print('Max Date: ' + str(max(df['Event occurred at'])))